<!DOCTYPE html>
<html>
<head>
    <title>Face Recognition Attendance</title>
</head>
<body>

    <form action="/">
        <button type="submit" onclick="stopCamera()">Back to home</button>
    </form>
    
    <form id="registerForm">
        <input type="text" id="name" name="name" placeholder="Enter Name" required>
        <input type="text" id="roll_number" name="roll_number" placeholder="Enter Roll Number" required>
        <button type="button" onclick="validateAndStartCamera()">Register</button> 
    </form>
    
    <div id="cameraContainer" style="display: none;">
        <img id="videoFeed" src="">
        <button type="button" onclick="submitForm()">Capture & Submit</button>
        <button type="button" onclick="stopCamera()">Cancel</button>
    </div>

    <script>

    function validateAndStartCamera() {
        let name = document.getElementById("name").value;
        let rollNumber = document.getElementById("roll_number").value;

        if (name.trim() === "" || rollNumber.trim() === "") {
            alert("Please enter all details.");
            return false;
        }

        // Show camera feed only if validation is passed
        document.getElementById("cameraContainer").style.display = "block";
        document.getElementById("videoFeed").src = "/video_feed";
    }

    function submitForm() {
        // Stop camera before submitting form
        stopCamera();

        // Submit form data manually
        let form = document.getElementById("registerForm");
        let formData = new FormData(form);

        fetch('/register', {
            method: 'POST',
            body: formData
        }).then(response => response.json())
                .then(data => {
                    alert(data.message);
                })
        .catch(error => console.error("Error:", error));
    }

    function stopCamera() {
        fetch('/stop_camera', { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
                document.getElementById('cameraContainer').style.display = 'none';
                document.getElementById("videoFeed").innerHTML= "";
            });
    }
    </script>
</body>
</html>
